<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="magick.net.web" type="ImageMagick.Web.MagickWebSettings, Magick.NET.Web-Q8-x86"/>
  </configSections>
  <magick.net.web canCreateDirectories="false" cacheDirectory="~\cache" tempDirectory="c:\temp">
    <urlResolvers>
      <urlResolver type="Magick.NET.Tests.TestUrlResolver, Magick.NET.Tests"/>
    </urlResolvers>
  </magick.net.web>
</configuration>