version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    cooldown:
      default-days: 7
    schedule:
      interval: "weekly"
  - package-ecosystem: "nuget"
    directory: "/"
    cooldown:
      default-days: 7
    schedule:
      interval: "weekly"
