.vs
samples
src/Magick.Native/libraries
src/Magick.Native/resources
src/Magick.NET/bin
src/Magick.NET/obj
src/Magick.NET.Core/bin
src/Magick.NET.Core/obj
src/Magick.NET.SystemDrawing/bin
src/Magick.NET.SystemDrawing/obj
src/Magick.NET.SystemWindowsMedia/bin
src/Magick.NET.SystemWindowsMedia/obj
TestResults
tests/Magick.NET.Core.Tests/bin
tests/Magick.NET.Core.Tests/obj
tests/Magick.NET.SystemDrawing.Tests/bin
tests/Magick.NET.SystemDrawing.Tests/obj
tests/Magick.NET.SystemWindowsMedia.Tests/bin
tests/Magick.NET.SystemWindowsMedia.Tests/obj
tests/Magick.NET.Tests/bin
tests/Magick.NET.Tests/obj
tools