*.aps
*.db
*.lock.json
*.opendb
*.sdf
*.suo
*.user
.vs
bin
obj
lib
runtimes
/ImageMagick/Source/ImageMagick
/ipch
/packages
/Publish/Archive/*
/Publish/NuGet/*.nupkg
/Publish/NuGet/ApiKey.txt
/Publish/Pdb/*
/Publish/Zip/*
/Source/Magick.NET/Resources
/Samples/Magick.NET.Samples/Samples/Magick.NET/*.pp
/Samples/Magick.NET.Samples/Samples/Magick.NET/Files/*.pp
/Samples/Magick.NET.Samples/Samples/Magick.NET/Scripts/*.pp
/TestResults
/Tools/AppVeyor/OpenCover*