
*.aps
*.db
*.lock.json
*.opendb
*.sdf
*.suo
*.user
.vs
bin
obj
lib
runtimes
/Magick.NET.AnyCPU/Generated/*
/Magick.NET.AnyCPU/Resources
/Magick.NET.Samples/Samples/Magick.NET/*.pp
/Magick.NET.Samples/Samples/Magick.NET/Files/*.pp
/Magick.NET.Samples/Samples/Magick.NET/Scripts/*.pp
/ImageMagick/Source/ImageMagick
/ipch
/Publish/Archive/*
/Publish/NuGet/*.nupkg
/Publish/NuGet/ApiKey.txt
/Publish/Pdb/*
/Publish/Zip/*
/TestResults
