*.suo
*.user
.vs
bin
obj
lib
runtimes
/publish/NuGet/*.nupkg
/publish/NuGet/ApiKey.txt
/publish/pdb/*
/publish/zip/*
/src/Magick.Native/libraries
/src/Magick.Native/resources
/samples/Magick.NET.Samples/Samples/Magick.NET/*.pp
/samples/Magick.NET.Samples/Samples/Magick.NET/Files/*.pp
/samples/Magick.NET.Samples/Samples/Magick.NET/Scripts/*.pp
/tools/nuget.exe
