<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Magick.NET" ToolsVersion="14.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1011" Action="None" />
    <Rule Id="CA1023" Action="None" />
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1709" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1825" Action="None" />
    <Rule Id="CA2006" Action="None" />
    <Rule Id="CA2202" Action="None" />
    <Rule Id="CA2217" Action="None" />
    <Rule Id="CA2225" Action="None" />
    <Rule Id="CA2237" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1121" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1520" Action="None" />
    <Rule Id="SX1101" Action="Warning" />
    <Rule Id="SX1309" Action="Warning" />
  </Rules>
</RuleSet>
